<div>

	<h4>This is a note</h4>
	<br/><br/>

	<textarea class="form-control" rows="5" id="note" data-ng-show="noteTextArea"></textarea>
	<br/>

<!--Creating buttons-->
	<button class="btn btn-danger" data-ng-show="cancelNote"> Cancel </button>

	<button class="btn btn-primary pull-right" data-ng-click="submitNoteFn()" data-ng-show="submitNote" >
		ADD NOTE <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	</button>


<!--Reading buttons-->
	<button class="btn btn-danger" data-ng-hide="toOverview"> 
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true" ></span> Back to Overview 
	</button>

	<button class="btn btn-primary pull-right" data-ng-click="addNote()" data-ng-hide="additionalNote">
		ADD ADDITIONAL NOTE <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	</button>
	<br/><br/>

	<table class="table">
		<tbody>
			<tr>
				<td><img class="note-img" src="img/user.png" alt="user" ></td>
				<td>
					<p class="note-read">
						I have just added this note. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede 
					</p>
				</td>
			</tr>
		</tbody>
	</table>

</div>