<form class="form" data-ng-submit="addNote()">

	<h4>New note</h4>
	
	<div class="alert alert-danger" role="alert" data-ng-show="newFormError">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  Please enter a title and content.
	</div>

	<div class="form-group">
		<label for="title">Title:<span style="color:red"> * </span></label>
		<input class="form-control" type="text" name="title" data-ng-model="newNote.title"/>
	</div>

	<div class="form-group">
		<label for="note">Note:<span style="color:red"> * </span></label>
		<textarea class="form-control" rows="5" id="note" data-ng-model="newNote.content" ></textarea>
	</div>

	<a class="btn btn-danger" data-ng-href="/#/notes"> Cancel </a>

	<button class="btn btn-primary pull-right" type="submit" data-ng-click="addNewNote()">
		ADD NOTE <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	</button>

</form>
<br/>