<div>
	
	<h1>Notes overview <small class="pull-right"><a data-ng-href="/#/logout">Logout</a></small></h1>
	
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Created by</th>
				<th>Title</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="note in notesCollection" data-ng-click="readNote()">
				<td>{{note.ownerFirstName}} {{note.ownerLastName}}</td>
				<td><a data-ng-href="/#/notes/{{note.noteId}}">{{note.title}}</a></td>
				<td>{{note.noteId | date:"MM/dd/yyyy 'at' h:mm"}}</td>
			</tr>
		</tbody>
	</table> 

	<a class="btn btn-primary" data-ng-href="/#/notes/create">
		CREATE A NEW NOTE <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	</a>

</div>